<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nuevo Usuario</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
    <body class="flex-center-container">
        <div class="card-form">
            <form th:action="@{/saveUsuario}" th:object="${usuario}" method="post">
                <input type="hidden" th:field="*{id}">

                <label>Nombre:</label>
                <input type="text" th:field="*{nombre}" required>
                <br><br>

                <label>Email:</label>
                <input type="email" th:field="*{email}" required>
                <br><br>

                <div th:if="${usuario.id == null}">
                    <label>Password:</label>
                    <input type="password" th:field="*{password}" required>
                    <br><br>
                </div>

                <label>Telefono:</label>
                <input type="text" th:field="*{telefono}">
                <br>
                <input type="hidden" th:field="*{rol}">
                <br>
                <div class="acciones">
                    <button type="submit" class="btn alta">Guardar</button>
                    <a th:href="@{/admin}" class="btn baja">Cancelar</a>
                </div>
            </form>
        </div>

    </body>
</html>