<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<h2 style="text-align:center;">Listado de Usuarios</h2>

<div class="botones">

    <div>
    <a th:href="@{/newUsuario}" class="btn alta">
        Alta Usuario
    </a>

    <a th:href="@{/newEntrenador}" class="btn alta">
        Alta Entrenador
    </a>

    <!-- Botones de Clases -->
    <a th:href="@{/newClaseTipo3}" class="btn clases">
        Crear Clase Tipo 3
    </a>

    <a th:href="@{/clases}" class="btn clases">
        Ver Clases Tipo 3
    </a>
    </div>
    <div>
    <a th:href="@{/logout}" class="btn baja">Cerrar Sesión</a>

    </div>
</div>
<div class="table-container">
    <table class="styled-table">

    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Rol</th>
        <th>Especialidad</th>
        <th>Acciones</th>
    </tr>

    <tr th:each="u : ${usuarios}">
        <td th:text="${u.nombre}"></td>
        <td th:text="${u.email}"></td>
        <td th:text="${u.telefono}"></td>
        <td th:text="${u.rol}"></td>
        <td th:text="${u.especialidad != null ? u.especialidad : 'N/A'}"></td>
        <td>
            <a th:href="@{/editUsuario/{id}(id=${u.id})}" class="btn alta">
                Editar
            </a>

            <a th:href="@{/delUsuario/{id}(id=${u.id})}" class="btn baja"
               onclick="return confirm('¿Estás seguro de que quieres eliminar este usuario?')">
                Baja
            </a>
        </td>
    </tr>
</table>

</div>
</body>
</html>