<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>

    <style>
        table {
            border-collapse: collapse;
            width: 60%;
            margin: 30px auto;
            font-family: Arial;
        }

        th, td {
            border: 1px solid #333;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body>

<h2 style="text-align:center;">Listado de Usuarios</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
    </tr>

    <tr th:each="u : ${usuarios}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.nombre}"></td>
        <td th:text="${u.email}"></td>
        <td th:text="${u.telefono}"></td>
    </tr>

</table>

</body>
</html>